/* Reset css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #113ccf;
  /* #113CCF OCS=#E77B01 salto=#17152D appleTV=#626267 */
  /* #626267 0%,  #146eb4 15%,   #113ccf 30%, #e77b01 45%, #e50914 60%, #17152d 75%, #000 100% */
  background-image: linear-gradient(
    to top,
    #e77b01 0%,
    #e77b01 25%,
    #e50914 75%,
    #e50914 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer text;
  font-size: 3rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100%;
  transition: all 0.3s ease;
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #113ccf;
  background: -webkit-linear-gradient(to right, #e77b01, #e50914, #113ccf);
  background: linear-gradient(to right, #e77b01, #e50914, #113ccf);
  color: #fff;
  transition: all 0.3s ease;
}
.navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background-color: #131313;
  }

  .navbar__menu.active {
    background-color: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  /* .navbar__toggle */
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;

    color: blue;
  }

  #mobile-menu.is-active .bar:nth_child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth_child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth_child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */

.hero {
  background: #000;
  /* background: linear-gradient(to right, #b20710, #e50914); */
  /* background: linear-gradient(
      to right,
      blue 0%,
      transparent 20%,
      lightblue 40%,
      blue 100%
    ),
    linear-gradient(to top, blue 0%, transparent 20%, lightblue 60%, blue 100%); */
  /* background: radial-gradient(transparent 20%, red 40%); */
  /* background: radial-gradient(ellipse at left, #e66465, transparent),
    radial-gradient(ellipse at left, #4d9f0c, transparent); */
  padding: 370px 0;
  margin: -80px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#best_movie_picture {
  /* background-image: -moz-linear-gradient(
    to right,
    transparent 0%,
    normal 20%,
    normal 90%,
    transparent 10%
  );
  width: 100%;
  height: auto;
}
.picture-movie { */
  background-image: radial-gradient(transparent 0%, transparent 40%, black 60%);
  width: auto;
  height: 75%;
  position: absolute;
  background-size: auto 100%;
  bottom: 70px;
  right: 80px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  height: 350px;
  position: absolute;
  top: 250px;
  left: 70px;
  padding: 30px;
  background-color: rgb(245, 9, 146);
}

.hero__heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: #fff;
}
.hero__heading span {
  background: #ee0979;
  background-size: 100%;
}
.hero__description {
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__heading {
    font-size: 1.5rem;
    padding: 5px 0;
    margin: 0 0;
  }
  .hero__description {
    display: none;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0 0;
  }
}

main {
  width: 100%;
  height: auto;
  /*background: red;*/
  margin: 30px auto;
  position: relative;
  padding: 5px 0;
}
main .text {
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h1 {
  font-size: 50px;
}
.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}
main header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

/* Arrow Selection */

.arrow {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  z-index: 5;
}
.arrow__btn {
  font-size: 150px;
  /* margin: 0 5px; */
  cursor: pointer;
  color: green;
  width: 90px;
  height: 90px;
  display: inline-flex;
  /* line-height: 19px; */
  text-align: center;
  border-radius: 3px;
}
.arrow__btn:hover {
  background: #222;
  color: red;
}
section {
  width: 90%;
  height: 600px;
  /*background: red;*/
  margin: 20px auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar {
  display: none;
}
section .movie {
  min-width: 24%;
  height: 90%;
  background: whitesmoke;
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
picture {
  width: 100%;
  height: 100%;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img {
  width: 100%;
}
.detail {
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}
p {
  color: #555;
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  .arrow__btn {
    font-size: 30px;
  }
  section .movie {
    min-width: 100%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }
  a {
    padding: 6px 10px;
  }
}

/* ************
     Modal
***************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  /*background-color: #fefefe;*/
  background: linear-gradient(to right, #b20710, #e50914);
  color: black;

  margin: auto;
  padding: 20px;
  border: 1px solide #888;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.head__modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px fonwei bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
