/* Reset css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #113ccf;
  /* #113CCF OCS=#E77B01 salto=#17152D appleTV=#626267 */
  /* #626267 0%,  #146eb4 15%,   #113ccf 30%, #e77b01 45%, #e50914 60%, #17152d 75%, #000 100% */
  background-image: linear-gradient(
    to top,
    #e77b01 0%,
    #e77b01 25%,
    #e50914 75%,
    #e50914 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer text;
  font-size: 3rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100%;
  transition: all 0.3s ease;
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #113ccf;
  background: -webkit-linear-gradient(to right, #e77b01, #e50914, #113ccf);
  background: linear-gradient(to right, #e77b01, #e50914, #113ccf);
  color: #fff;
  transition: all 0.3s ease;
}
.navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background-color: #131313;
  }

  .navbar__menu.active {
    background-color: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  /* .navbar__toggle */
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;

    color: blue;
  }

  #mobile-menu.is-active .bar:nth_child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth_child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth_child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */

.hero {
  background: #000;
  /* background: linear-gradient(to right, #b20710, #e50914); */
  /* background: linear-gradient(
      to right,
      blue 0%,
      transparent 20%,
      lightblue 40%,
      blue 100%
    ),
    linear-gradient(to top, blue 0%, transparent 20%, lightblue 60%, blue 100%); */
  /* background: radial-gradient(transparent 20%, red 40%); */
  /* background: radial-gradient(ellipse at left, #e66465, transparent),
    radial-gradient(ellipse at left, #4d9f0c, transparent); */
  padding: 370px 0;
  margin: -80px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#best_movie_picture {
  /* background-image: -moz-linear-gradient(
    to right,
    transparent 0%,
    normal 20%,
    normal 90%,
    transparent 10%
  );
  width: 100%;
  height: auto;
}
.picture-movie { */
  background-image: radial-gradient(transparent 0%, transparent 40%, black 60%);
  width: auto;
  height: 75%;
  position: absolute;
  background-size: auto 100%;
  bottom: 70px;
  right: 80px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  height: 350px;
  position: absolute;
  top: 250px;
  left: 70px;
  padding: 30px;
  background-color: rgb(245, 9, 146);
}

.hero__heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: #fff;
}
.hero__heading span {
  background: #ee0979;
  background-size: 100%;
}
.hero__description {
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__heading {
    font-size: 1.5rem;
    padding: 5px 0;
    margin: 0 0;
  }
  .hero__description {
    display: none;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0 0;
  }
}

main {
  width: 100%;
  height: auto;
  /*background: red;*/
  margin: 30px auto;
  position: relative;
  padding: 5px 0;
}
main .text {
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h1 {
  font-size: 50px;
}
.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}
main header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

/* Arrow Selection */

.arrow {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  z-index: 5;
}
.arrow__btn {
  font-size: 150px;
  /* margin: 0 5px; */
  cursor: pointer;
  color: green;
  width: 90px;
  height: 90px;
  display: inline-flex;
  /* line-height: 19px; */
  text-align: center;
  border-radius: 3px;
}
.arrow__btn:hover {
  background: #222;
  color: red;
}
section {
  width: 90%;
  height: 600px;
  /*background: red;*/
  margin: 20px auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar {
  display: none;
}
section .movie {
  min-width: 24%;
  height: 90%;
  background: whitesmoke;
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
picture {
  width: 100%;
  height: 100%;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img {
  width: 100%;
}
.detail {
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}
p {
  color: #555;
}

/* a{
			text-decoration: none;
			padding: 6px 14px;
		    font-size: 15px;
		    margin: 5px 0 0 20px;
		    display: inline-block;
		    background: #6773ff;
		    color: white;
		}
		p.star{
			margin: 5px auto;
		    width: 65%;
		    font-size: 25px;
		    color: #808080;
		} */
@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  .arrow__btn {
    font-size: 30px;
  }
  section .movie {
    min-width: 49%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }
  a {
    padding: 6px 10px;
  }
}

/* ************************************
  s_k Main Carousel container
************************************ */

/* ************************************
  Comment for adding and another
  saam Khatri simple owl Carousel
************************************ */

/* Main Carousel container */
/* .main__container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(330deg, #fd880b 40%, #f3b519 100%) tomato;
}
.category__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 35px;
}
.category__carousel h3 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(270deg, #e50914, #b20710);
  border-radius: 0.2rem;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 200px; */

/* } */
/* .carousel__item img {
  width: 300px;
  height: 500px;
  margin-right: 16px;
  padding: 1.2rem;
  border-radius: 0.5rem; */
/* box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden; */
/* }
.carousel__item h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: aliceblue;
  text-align: center;
}

.carousel .carousel__actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  transform: translateY(35%);
  width: 100%;
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #e77b01;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.carousel .carousel__actions .show {
  opacity: 1;
  visibility: visible;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}
.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px;
} */

/* New Carousel */
/* .netflix_logo {
  height: 15vw;
  width: 100%;
  text-align: center;
}
.netflix_logo img {
  height: 100%;
}
.carousel2 {
  height: 250px;
  width: 80%;
  position: relative;
}
.carousel2 .switchLeft,
.carousel2 .switchRight {
  color: white;
  font-weight: bold;
  height: 100%;
  width: 45px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: lightblue;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
  cursor: pointer;
}
.carousel2 .switchLeft {
  position: absolute;
  left: -50px;
}
.carousel2 .switchRight {
  position: absolute;
  right: -50px;
}
.carousel__box {
  height: 450px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}
.carousel2 .carousel__box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel__box img {
  height: 400px;
  min-width: 250px;
  max-width: 250px;
  background-size: cover;
  background-color: lightgreen;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}
.carousel__box img:hover {
  transform: scale(1.2);
  z-index: 5;
  transition: 0.3 ease-out;
} */

/******************************************************
    Begin CATEGORY  OCMOVIE A DUPLIQUER CAROUSEL 3
***************************************************** */

/* .category__carousel__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lime;
}
.category__carousel__3 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100%; */
/* margin: 20px auto;
}

.carousel__3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
  position: relative;
}
.carousel__3__box {
  display: inline-block;
  max-width: auto;
  overflow: hidden;
  white-space: wrap;
  display: inline-block;
  text-align: center;
  /* position: relative; */
/*padding-bottom: 20px !important;
  background-color: mediumorchid;
  display: flex;
  align-items: center;
  margin: 20px !important;
  justify-content: flex-start;
  position: absolute;
  left: 0;
}
.carousel__3__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel__3__item img {
  max-width: 270px;
  height: 400px;
  margin: 30px;
  left: 0;
}

.carousel__3__actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  transform: translateY(35%);
  width: 100%;
}

.carousel__3__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #e77b01;
  z-index: 5;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.carousel__3__actions .show {
  opacity: 1;
  visibility: visible;
}

#carousel__3__button--prev {
  margin-left: 20px;
}
#carousel__3__button--next {
  margin-right: 20px;
} */

/******************************************************
    End CATEGORY  OCMOVIE A DUPLIQUER CAROUSEL 3
***************************************************** */

/* 
.category__carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: turquoise;
}
.category__carousel h3 {
  font-size: 2.5rem;
  margin: 2rem auto;
}
.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}
.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}
.carousel .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.carousel .carousel__item--visible {
  display: block;
}
*/

/* 
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  position: absolute;
  top: 200px;
  left: 120px;
  height: 360px;
  padding: 30px;
  min-width: 200px;
  /* 

 
  /* margin: 0 0 0 150px; */
/* height: 90%; */
/* text-align: center; */
/* 
  background-color: yellow;
}





.hightlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
  }
  .hero__heading {
    font-size: 1.5rem;
    padding: 5px 0;
    margin: 0 0;
  }
  .hero__description {
    display: none;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0 0;
  }
} */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* * {
  all: unset;
  display: revert;
  box-sizing: border-box;
}
[default-styles] {
  all: revert;
}

/* body {
  background-image: url(../images/last_castle.jpg);
} */

/* font */
/* font-family: 'Fleur De Leah', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Roboto', sans-serif;

#hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 750px;
  top: 0;
  left: 0;
  /* background: url(../images/last_castle.jpg) no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  background-position-y: bottom;
  right: 30px;
}

.picture-movie {
background-image: radial-gradient(transparent 0%, transparent 40%, black 60%);
  width: auto;
  height: 75%;
  position: absolute;
   background-size: auto 100%;
  bottom: 90px;
  right: 80px;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  margin: 30px 50px;
  position: relative;
  background-color: blue;
}
h1 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
}
h1 span {
  font-family: "Pinyon Script", cursive;
  font-size: 70px;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
/*   
}
.nav-menu ul li {
  margin: 10px 15px;
  list-style-type: none;
  font-size: 2rem;
}
.picture-movie {
background-image: radial-gradient(transparent 0%, transparent 40%, black 60%);
  width: auto;
  height: 75%;
  position: absolute;
   background-size: auto 100%;
  bottom: 90px;
  right: 80px;
}
#hero-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 250px;
  left: 70px;
  background-color: rgb(245, 9, 146);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}
 #SVOD {
  display: flex;
  justify-content: center;
  width: 100%;
}
#SVOD {
  width: calc(200px * 6);
  height: 800px;
}

#SVOD ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#SVOD ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-SVOD {
  flex: 1;
  height: 700px;
  width: auto;
}

Les logos SVOD 
.netflix {
  background: url(../images/logos/netflix.png) no-repeat 100%;
  background-size: cover;
}
.amazon {
  background: url(../images/logos/amazon-prime-video-logo.jpg) no-repeat 100%;
  background-size: cover;
}
.disney {
  background: url(../images/logos/disney-plus-logo.png) no-repeat 100%;
  background-size: cover;
}
.OCtv {
  background: url(../images/logos/netflix.png) no-repeat 100%;
  background-size: cover;
}
.hbo {
  background: url(../images/logos/hbo-logo.png) no-repeat 100%;
  background-size: cover;
}
.salto {
  background: url(../images/logos/salto-logo.png) no-repeat 100%;
  background-size: cover;
}

.logo-SVOD {
  flex: 1;
  height: 5rem;
}
*/
